.ul {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.6rem;
  gap: 3rem;
}

.li {
  list-style: none;
}

.a,
.a:link,
.a:visited {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
  box-shadow: inset 0 0 0 3px antiquewhite;
  border-radius: 9px;
  transition: background-color 0.3s;
}

.a:hover,
.a:active {
  /* text-decoration: underline; */
  padding: 1rem;
  background-color: antiquewhite;
  box-shadow: inset 0 0 0 3px antiquewhite;
  border-radius: 9px;
}

.a.act {
  /* text-decoration: underline; */
  background-color: antiquewhite;
}
