.actionRow {
  display: flex;
  gap: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3rem;
  width: 3rem;
  box-shadow: inset 0 0 0 1px rgb(255, 145, 0);
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
}

.buttons:hover {
  background-color: rgb(255, 145, 0);
}

.edit:hover {
  color: #fff;
}

.red {
  color: #f47174;
}

.red:hover {
  color: #fff;
  background-color: #f47174;
  box-shadow: inset 0 0 0 1px #f47174;
}
